###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Ball 'n' Roll icon.png.meta
[Aa]ssets/Tutorial_Info/Icons.meta
Logs/Packages-Update.log
Packages/manifest.json
ProjectSettings/EditorSettings.asset
ProjectSettings/XRSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectVersion.txt
Assets/Obstacle.prefab
Assets/Tutorial_Info/Icons.meta
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DSStore?
.
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db